#container{
    display: block;
    width: 333px;
    margin: 0 auto;
}
.help {
    background: #FFC;
    border: 2px solid #FC0;
    padding: 15px 20px 10px;
    margin: 5px 0 20px;
    font-family: inherit;    
    color: inherit;
    text-rendering: optimizelegibility;
}
.how_to {
    font-weight: bold;
}
table {
    border-collapse: collapse;
}
td {
    background-color: #FFFFFF;
    cursor: pointer;
    height: 10px;
    width: 10px;
}
.null {
    cursor: default;
}
.wall {
    background-color: #008080;
    cursor: default;
}
.space {
    height: 50px;
    width: 50px;
}
.dot {
    background-color: #EEEEEE;
}
.space:hover, .dot:hover {
    background-color: #FFFF80;
}
