body {
   font-family:sans-serif;
   background:#cfcfcf;
}
#container {
   clear:left;
   width:100%;
   text-align:center;
   margin-top:100px;
}
#die1 {
   position:relative;
   top:0px;
   left:0px;
   clear:left;
   float:left;
   margin-left:40%;
}
#die2 {
   position:relative;
   top:0px;
   left:0px;
   float:left;
   margin-left:50px;
}
#roll {
   clear:left;
   float:left;
   width:520px;
   height:24pt;
   margin:40px 0 0 0;
   font-size:18pt;
   font-weight:bold;
   border-style:outset;
   background:white;
}
#sum {
   float:left;
   position:relative;
   top:36px;
   font-size:24pt;
   font-weight:bold;
   padding-left:60px;
}